In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:/Users/sairam/Documents/aiml/LU Govinth/day 16 & 17/titles.csv")
data.head(10)

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008
5            Tight Spot  1955
6        Chocolate (II)  2011
7      Wang de Shengyan  2012
8       Bao dao mei ren  1956
9   A Man Called Nereus  2012

### How many movies are listed in the titles dataframe?

In [2]:
len(data['title'])

244914

### What are the earliest two films listed in the titles dataframe?

In [3]:
d2 = data.sort_values('year',ascending=True)
print(d2.head(2))

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [4]:
d = data.set_index('title').loc['Hamlet']
print("No. of movies named Hamlet are:",len(d))

No. of movies named Hamlet are: 20

### How many movies are titled "North by Northwest"?

In [5]:
d1 = data.set_index('title').loc['North by Northwest']
print(len(d1))

1

### When was the first movie titled "Hamlet" made?

In [6]:
fm = d.sort_values('year',ascending=True)
print(fm.head(1))

        year
title
Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [7]:
TI = data.set_index('title').loc['Treasure Island']
print(TI)

                 year
title
Treasure Island  1999
Treasure Island  1973
Treasure Island  1918
Treasure Island  1972
Treasure Island  1950
Treasure Island  1934
Treasure Island  1985
Treasure Island  1920

### How many movies were made in the year 1950?

In [8]:
data = pd.read_csv("C:/Users/sairam/Documents/aiml/LU Govinth/day 16 & 17/titles.csv")
Year = data.set_index('year').loc[1950]
print(len(Year))

1113

### How many movies were made in the year 1960?

In [9]:
Year1 = data.set_index('year').loc[1960]
print(len(Year1))

1549

### How many movies were made from 1950 through 1959?

In [10]:
mov = (data['year'] > 1949) & (data['year'] < 1960)
x = data.loc[mov]
print(len(x))

12934

### In what years has a movie titled "Batman" been released?

In [11]:
bat = data.set_index('title').loc["Batman"]
bat

        year
title
Batman  1943
Batman  1989

In [12]:
cast = pd.read_csv("C:/Users/sairam/Documents/aiml/LU Govinth/day 16 & 17/cast.csv")
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [13]:
len(cast['title'])

3786176

### How many roles were there in the movie "Inception"?

In [14]:
role = (cast['title']=='Inception')
z = cast.loc[role]
len(z)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [15]:
notval = (z['n'].isna())
print(notval.sum())

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
nval = (z['n'].notnull())
print(nval.sum())

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
cast_nn = (cast['title']=='North by Northwest')
x= cast.loc[cast_nn]
dump = x.dropna()
dump = dump.sort_values('n',ascending = True)
out = dump['name']
print(list(out))

['Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis', 'Leo G. Carroll', 'Josephine Hutchinson', 'Philip Ober', 'Martin Landau', 'Adam Williams', 'Edward Platt', 'Robert Ellenstein', 'Les Tremayne', 'Philip Coolidge', 'Patrick McVey', 'Edward Binns', 'Ken Lynch']

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
cast_n = (cast['year']==1972)
cast_n = cast.loc[cast_n]
x = (cast_n['title']=='Sleuth')
x = cast_n.loc[x]
x = x.sort_values('n',ascending = True)
print(list(x['name']))

['Laurence Olivier', 'Michael Caine', 'Alec Cawthorne', 'John (II) Matthews', 'Eve (III) Channing', 'Teddy Martin']

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
sl_07 = ((cast['year']==2007) & (cast['title']=='Sleuth'))
sl_07 = cast.loc[sl_07]
sl_07 = (sl_07.sort_values('n',ascending = True)).dropna()
print(list(sl_07['name']))

['Michael Caine', 'Jude Law', 'Harold Pinter']

### How many roles were credited in the silent 1921 version of Hamlet?

In [20]:
ham_1921 = ((cast['title']=='Hamlet') & (cast['year']==1921)) 
ham_1921 = cast.loc[ham_1921]
print(list(ham_1921['character']))

['Fortinbras,', 'K?nig Hamlet', 'Laertes', 'Polonius', 'Horatio', 'Claudius', 'K?nigin Gertrude', 'Ophelia', 'Hamlet']

### How many roles were credited in Branagh’s 1996 Hamlet?

In [21]:
bran_1996 = ((cast['title']=='Hamlet') & (cast['year']==1996) & (cast['name'] == 'Kenneth Branagh'))
 
bran_1996  = cast.loc[bran_1996]
print(len(bran_1996['character']))

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
ham = (cast['title']=='Hamlet')
ham = cast.loc[ham]
print(list(ham['character']))

['Attendant to Claudius', 'Fortinbras,', 'Laertes', 'Player', 'Reynaldo', 'Fortinbras', 'Cornelius', 'Second Gravedigger', 'English Ambassador', 'Second Player', 'Bernardo', 'Marcellus', 'Rosencrantz', 'Horatio', 'English Ambassador', 'The Royal Court Of Denmark - Polonius,Lord Chamberlain', 'Polonius', 'Osric', 'Claudius', 'Second Gravedigger', 'Royal Hound', 'Fortinbras', 'Fortinbras', 'Attendant to Claudius', "Ghost of Hamlet's Father", 'Cadet in Play', 'Hamlet', 'Polonius', 'Priest', 'Hamlet', 'Polonius', 'Bit Part', 'Attendant to Claudius', 'Polonius', 'Ghost ', ' Player King', 'Gravedigger', 'Horatio', 'Laertes Mob', 'Player King', 'The Players', 'Butler', 'Francisco', 'Hamlet', 'Priest', 'K?nig Hamlet', 'Horatio', 'Voltimand', 'Polonius', 'Polonius', 'First Gravedigger', 'Player Queen', 'Laertes', 'Guildenstern', 'Osric', 'Stage Manager', 'Norwegian captain', 'Laertes', 'Claudius', 'Reynaldo', 'Polonius', 'Horatio', 'Guildenstern', 'Reynaldo', 'Yorick', "Ghost Of Hamlet's Father", 'Claudius', 'Francisco', 'Francisco', 'Fortinbras', 'Lucianus', 'Old Fortinbras', 'Captain', 'Francisco', 'Reynaldo', 'Osric', " Fortinbras's Captain", 'The Players', 'Player Queen', 'Player Queen', 'Horatio', 'Francisco', 'Special Guest Appearance', 'Kissing Man', 'Hamlet', 'Rosencrantz', 'Polonius', 'Osric', 'Lucianus', 'Horatio', 'Messenger', 'Hamlet', 'Ghost', 'Priam', 'Hamlet', 'Guildenstern', 'Special Guest Appearance', 'Lucianus', 'Special Guest Appearance', 'Messenger', 'Marcellus', 'Rosencrantz', 'Special Guest Appearance', 'Lord', 'Hamlet', 'Osric', 'Claudius, King of Denmark', 'Claudius', 'Player King', 'Player Prologue', 'Claudius', 'Palace Nobleman', 'Gravedigger', 'Polonius', 'Claudius', 'Marcellus', 'Priest', 'Bernardo', 'Osric', 'Guildenstern', 'Cornelius', 'Horatio', 'Claudius', 'Osric', 'Courtier', 'Polonius', "Fortinbras's Captain", 'Bernardo', 'Special Guest Appearance', 'Horatio', 'Francisco', 'Spear Carrier', 'Marcellus', 'First Player', 'Gravedigger', 'Extra', 'Rosencrantz', 'Reynaldo', 'Horatio', 'Laertes', 'Lucianus (in "The Murder of Gonzago")', 'Extra', 'Sea Captain', 'Claudius', 'Extra', 'Player King', 'Elsinore Courtier', 'Rosencrantz', 'Laertes', 'Special Guest Appearance', "Claudius' Bodyguard", 'Barnardo', 'Osric', 'Hamlet', 'Special Guest Appearance', 'Hamlet', 'The Players', 'Hamlet', 'Laertes', 'Hamlet', 'Laertes', 'Horatio', 'Old Norway', 'Sailor Two', 'Priest', 'Pyrrhus', 'The Royal Court Of Denmark - Laertes,his Son', 'Hamlet', 'Polonius', 'Guildenstern', 'Polonius', 'Barnardo', 'Flight Captain', 'Hamlet', 'Francisco', 'Reynaldo', 'Priest', 'Voltemand', 'The Royal Court Of Denmark - Hamlet,Prince of Denmark', 'Laertes', 'The Gravedigger', 'Second Gravedigger', 'Laertes', 'Player King', 'Horatio', 'Special Guest Appearance', 'Marcellus', 'Attendant', '1st Sailor', 'Hamlet', 'Guildenstern', 'The Ghost', 'Bernardo', 'Player', 'Bodyguard', 'Claudius', 'Marcellus', 'King Hamlet', 'The Priest', 'Special Guest Appearance', 'Special Guest Appearance', 'Polonius', 'First Gravedigger', 'Guildenstern', 'Rosencrantz', 'Rosencrants', 'First Gravedigger', 'Hamlet', 'Young Lord', 'Laertes', 'Polonius', 'The Ghost', 'Laertes', 'Boatman', 'Fortinbras', 'Laertes', 'Horatio', 'Ghost', 'Player Queen', 'Lucianus', '1st Player', 'Claudius', 'Ghost', 'Guildenstern', 'Guildenstern', 'Rosencrantz', 'Claudius', "Fortinbras's Captain", 'Rosencrantz', 'Claudius', 'Gentleman', 'Horatio', 'Bernardo', 'Osric', 'Player Queen', 'Laertes', 'Claudius - The King', 'Young Hamlet', 'Player Queen', 'First Player', 'Priest', 'Guildenstern', 'Priest', 'Policeman', 'Barnardo', 'Player King', 'Claudius', 'Player King', 'Voltimand', 'Bernardo', 'First Player', 'Osric', 'Hamlet', 'Claudius', 'The Royal Court Of Denmark - Horatio, his Friend', 'Gravedigger', 'Claudius', 'Sailor One', 'The Players', 'Bernardo', 'Alexander', 'Rosencrantz', 'Laertes', 'Laertes', 'Diretora da Pe?a', 'Gertrude', 'The Players', 'Marcella', 'Player King', 'Lady', 'Polonia', 'Ophelia', 'Gertrude', 'K?nigin Gertrude', 'Margaret', '1st Gravedigger', 'Ophelia', 'Ophelia', 'Gertrude', 'Gertrude', 'Special Guest Appearance', 'Lady of the Court', 'Hecuba', 'Special Guest Appearance', 'Attendant to Gertrude', 'Ophelia', 'Ophelia', 'Special Guest Appearance', 'Doctor', 'Ophelia', 'Special Guest Appearance', 'Ophelia', 'Player Queen', 'Gertrude - The Queen', 'Gertrude', 'Ophelia', 'Gertrude', 'Court Lady', 'Ophelia', 'Blockbuster Clerk', 'Gertrude, Queen of Denmark', 'Attendant to Gertrude', 'Gertrude', 'Attendant to Gertrude', 'Extra', 'Ophelia', 'Marcella', 'Ophelia', 'Gertrude', 'Gertrude', 'Rosencrantz', '2nd Gravedigger', 'Player Queen', 'Messenger', 'Ophelia', 'Gertrude', 'Hamlet', 'Special Guest Appearance', 'Gertrude', 'Hamlet', 'The Players', 'Prologue', 'Prostitute', 'Special Guest Appearance', 'Gertrude', 'Player Queen', 'Ophelia', 'Secretary', 'Osric', 'Ophelia - and Daughter', 'The Players', 'The Players', 'Ophelia', 'Ophelia', 'Gertrude', 'Lady', 'Marcellus', 'Court lady', 'Gertrude', 'Second Player', 'Ophelia', 'Ophelia']

### How many people have played an "Ophelia"?

In [23]:
ophelia = (cast['character']=='Ophelia')
ophelia = cast.loc[ophelia]
print(len(ophelia))

117

### How many people have played a role called "The Dude"?

In [24]:
dude = (cast['character']=='The Dude')
dude = cast.loc[dude]
print(len(dude))

19

### How many people have played a role called "The Stranger"?

In [25]:
stranger = (cast['character'] == 'The Stranger')
stranger = cast.loc[stranger]
print(len(stranger))

212

### How many roles has Sidney Poitier played throughout his career?

In [26]:
sp = (cast['character']=='Sidney Poitier')
sp = cast.loc[sp]
print(len(sp))

1

### How many roles has Judi Dench played?

In [27]:
jd = (cast['name']=='Judi Dench')
jd = cast.loc[jd]
print(len(jd))

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
cg = ((cast['name']=='Cary Grant')&(cast['year']>=1940)&(cast['n']==2))
cg = cast.loc[cg]
print(list(cg['character']))

['Nick Arden', 'Roger Adams']

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [29]:
cg_lead = ((cast['name']=='Cary Grant')&(cast['year']>=1940)&(cast['year']<1950)&(cast['n']==1))
cg_lead = cast.loc[cg_lead]
cg_lead = cg_lead.sort_values('year',ascending = True)
print(list(cg_lead['character']))

['Matt Howard', 'Walter Burns', 'C. K. Dexter Haven', 'Johnnie Aysgarth', 'Leopold Dilg', "Patrick 'Pat' O'Toole", 'Capt. Cassidy', 'Joe Adams -posing as Joe Bascopolous', 'Jerry Flynn', 'Mortimer Brewster', 'Ernie Mott', 'Cole Porter', 'Devlin', 'Dick Nugent', 'Dudley', 'Jim Blandings', 'Dr. Madison Brown', 'Captain Henri Rochard']

### How many roles were available for actors in the 1950s?

In [30]:
roles = ((cast['year']>=1950)&(cast['year']<1960)&(cast['type']=='actor'))
roles = cast.loc[roles]
print(len(roles))

157738

### How many roles were available for actresses in the 1950s?

In [31]:
f_roles = ((cast['year']>=1950)&(cast['year']<1960)&(cast['type']=='actress'))
f_roles = cast.loc[f_roles]
print(len(f_roles))

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [32]:
lead = ((cast['n']==1) & (cast['year']==1980))
lead = cast.loc[lead]
print(len(lead['character']))

1183

### How many non-leading roles were available through from the beginning of film history through 1980?

In [33]:
nonlead = ((cast['n']!=1) & (cast['year']==1980))
nonlead = cast.loc[nonlead]
print(len(nonlead['character']))

22289

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [34]:
minor = ((cast['n'].isnull()) & (cast['year']==1980))
minor = cast.loc[minor]
print(len(minor['character']))

4466