# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
a = print(input().split("@")[1].split(".")[0])

john@lu.in
lu

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
a = list(input().split(","))
print (sorted(a))

without,hello,bag,world
['bag', 'hello', 'without', 'world']

### Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
set1 = {"a","b","c","d","e",23,45}
set1

{23, 45, 'a', 'b', 'c', 'd', 'e'}

In [4]:
set1.add("f")        #add
set1

{23, 45, 'a', 'b', 'c', 'd', 'e', 'f'}

In [5]:
set1.discard("f")         #discard
set1

{23, 45, 'a', 'b', 'c', 'd', 'e'}

In [6]:
set2 = {12,23,52,16,7,77,33,9}
set3 = {45,54,65,54,85,72,19,8}
set4 = set3.copy()                    #copy
set4

{8, 19, 45, 54, 65, 72, 85}

In [7]:
set4.clear()         #clear
set4

set()

In [8]:
set2.add(19)
set2

{7, 9, 12, 16, 19, 23, 33, 52, 77}

In [9]:
r=set2.difference(set3)       #difference
r

{7, 9, 12, 16, 23, 33, 52, 77}

In [10]:
r=set2.difference_update(set3)       #differenceupdate
print(r)

None

In [11]:
I = set2.intersection(set3)         #intersection
I

set()

In [12]:
set4 = set3.copy()        #copy
set4

{8, 19, 45, 54, 65, 72, 85}

In [13]:
Intersection = set3.intersection(set4)          #intersecion
print(Intersection)

{65, 72, 8, 45, 19, 85, 54}

In [14]:
set4 = {8, 19, 45, 54, 65, 72, 85}
set5 = {54, 65, 72, 85,99,100,88}
print(set5.intersection_update(set4))          #intersection_update

None

In [15]:
set4.isdisjoint(set1)         #disjoint true when no comon

False

In [16]:
set5.issubset(set4)          #issubset

True

In [17]:
set4.pop()              #pop
print(set4)

{8, 72, 45, 19, 85, 54}

In [18]:
set2.issuperset(set3)          #issuperset

False

In [19]:
set4.remove(85)          #remove
set4

{8, 19, 45, 54, 72}

In [20]:
set4.symmetric_difference(set3)          #symmetric_difference = union without intersection

{65, 85}

In [21]:
set3_4 = set4.symmetric_difference_update(set3)     #symmetric_difference_update
print(set3_4)
print(set3)
print (set4)

None
{65, 72, 8, 45, 19, 85, 54}
{65, 85}

In [22]:
print(set1)
print(set2)
set5 = set1.union(set2)         #Union
print(set5)

{'b', 45, 'c', 'a', 'e', 23, 'd'}
{33, 7, 9, 12, 77, 16, 52, 23}
{33, 7, 9, 12, 45, 'b', 77, 'c', 16, 'a', 'e', 52, 23, 'd'}

In [23]:
list1 = [1,2,23]
set1.update(list1)           #Update
print(set1)

{1, 2, 'b', 45, 'c', 'a', 'e', 23, 'd'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [24]:
def find_missing(n): 
    return [x for x in range(n[0], n[-1]+1) if x not in n] 
n = [int(x) for x in input().split()]
print(find_missing(n))

1 2 4 6 3 7 8
[5]

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [25]:
a = [int(x) for x in input().split()]
b = set(a)
c = list(b)
print(sorted(c))

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]