# Chi square test

#  Attrition vs Business travel

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
data = pd.read_csv("C:/Users/sairam/Documents/aiml/Attrition assignment/general_data.csv").dropna()

# attrition against business travel using chi square test
null_hypothesis = "There is no significant relation between attrition and business travel"
alternate_hypothesis = "There is a significant relation between attrition and business travel"
attrition_on_businesstravel = pd.crosstab(data.Attrition,data.BusinessTravel)
stats,p,dof,expected = chi2_contingency(attrition_on_businesstravel)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

70.07594084831366 6.07019702736392e-16
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between attrition and business travel

# Attrition vs Department

In [2]:
# attrition against department using chi square test
null_hypothesis = "There is no significant relation between attrition and department"
alternate_hypothesis = "There is a significant relation between attrition and department"
attrition_on_Department = pd.crosstab(data.Attrition,data.Department)
stats,p,dof,expected = chi2_contingency(attrition_on_Department)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

25.89432541916022 2.382970570769315e-06
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between attrition and department

# Attrition vs Gender

In [3]:
# attrition against Gender using chi square test
null_hypothesis = "There is no significant relation between attrition and Gender"
alternate_hypothesis = "There is a significant relation between attrition and Gender"
attrition_on_Gender = pd.crosstab(data.Attrition,data.Gender)
stats,p,dof,expected = chi2_contingency(attrition_on_Gender)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

1.3825823839528295 0.23966176275638887
Accept Null Hypothesis and reject Alternate Hypothesis
There is no significant relation between attrition and Gender

# Attrition vs Educational field

In [4]:
# attrition against EducationField using chi square test
null_hypothesis = "There is no significant relation between attrition and EducationField"
alternate_hypothesis = "There is a significant relation between attrition and EducationField"
attrition_on_EducationField = pd.crosstab(data.Attrition,data.EducationField)
stats,p,dof,expected = chi2_contingency(attrition_on_EducationField)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

43.132860148900384 3.472896220587872e-08
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between attrition and EducationField

# Attrition vs Job role

In [5]:
# attrition against JobRole using chi square test
null_hypothesis = "There is no significant relation between attrition and JobRole"
alternate_hypothesis = "There is a significant relation between attrition and JobRole"
attrition_on_JobRole = pd.crosstab(data.Attrition,data.JobRole)
stats,p,dof,expected = chi2_contingency(attrition_on_JobRole)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

21.893724958847 0.005116592717526599
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between attrition and JobRole

# Attrition vs Marital status

In [6]:
# attrition against MaritalStatus using chi square test
null_hypothesis = "There is no significant relation between attrition and MaritalStatus"
alternate_hypothesis = "There is a significant relation between attrition and MaritalStatus"
attrition_on_MaritalStatus = pd.crosstab(data.Attrition,data.MaritalStatus)
stats,p,dof,expected = chi2_contingency(attrition_on_MaritalStatus)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

133.85785802925156 8.573051828219379e-30
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between attrition and MaritalStatus

# Attrition vs Over18

In [7]:
# attrition against Over18 using chi square test
null_hypothesis = "There is no significant relation between attrition and Over18"
alternate_hypothesis = "There is a significant relation between attrition and Over18"
attrition_on_Over18 = pd.crosstab(data.Attrition,data.Over18)
stats,p,dof,expected = chi2_contingency(attrition_on_Over18)
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

0.0 1.0
Accept Null Hypothesis and reject Alternate Hypothesis
There is no significant relation between attrition and Over18

# MANN-WHITNEY TEST

In [8]:
from scipy.stats import pearsonr
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["Attrition"] = le.fit_transform(data["Attrition"])
data_yes = data[data["Attrition"]==1]
data_no = data[data["Attrition"]==0]
data_yes

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,1,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,1,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,29,1,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4386,33,1,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4388,33,1,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4391,32,1,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4402,37,1,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0

# Attrition vs Distance from home

In [9]:
from scipy.stats import mannwhitneyu
a1 = data_yes.DistanceFromHome
a2 = data_no.DistanceFromHome
stats,p = mannwhitneyu(a1,a2)
null_hypothesis = "There is no significant relation between attrition and distance from home"
alternate_hypothesis = "There is a significant relation between attrition and distance from home"
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

1295261.0 0.488538986087403
Accept Null Hypothesis and reject Alternate Hypothesis
There is no significant relation between attrition and distance from home

## Attrition vs Income

In [10]:
a3 = data_yes.MonthlyIncome 
a4 = data_no.MonthlyIncome 
stats,p = mannwhitneyu(a3,a4)
null_hypothesis = "There is no significant relation between attrition and Income"
alternate_hypothesis = "There is a significant relation between attrition and Income"
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

1249573.5 0.06508807631576838
Accept Null Hypothesis and reject Alternate Hypothesis
There is no significant relation between attrition and Income

# Attrition vs Total Working years

In [11]:
ab3 = data_yes.TotalWorkingYears 
ab4 = data_no.TotalWorkingYears 
stats,p = mannwhitneyu(ab3,ab4)
null_hypothesis = "There is no significant relation between Attrition and TotalWorkingYears"
alternate_hypothesis = "There is a significant relation between Attrition and TotalWorkingYears"
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

895173.5 2.741211827689903e-39
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between Attrition and TotalWorkingYears

# Attrition vs years at company

In [12]:
a5 = data_yes.YearsAtCompany 
a6 = data_no.YearsAtCompany 
stats,p = mannwhitneyu(a5,a6)
null_hypothesis = "There is no significant relation between Attrition and YearsAtCompany"
alternate_hypothesis = "There is a significant relation between Attrition and YearsAtCompany"
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

912579.0 3.3433144809752036e-36
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between Attrition and YearsAtCompany

# Attrition vs years with curr manager

In [13]:
a7 = data_yes.YearsWithCurrManager 
a8 = data_no.YearsWithCurrManager 
stats,p = mannwhitneyu(a7,a8)
null_hypothesis = "There is no significant relation between Attrition and YearsWithCurrManager"
alternate_hypothesis = "There is a significant relation between Attrition and YearsWithCurrManager"
print(stats,p)
if p<0.05:
    print("Reject Null Hypothesis and accept Alternate Hypothesis ")
    print(alternate_hypothesis)
else:
    print("Accept Null Hypothesis and reject Alternate Hypothesis ")
    print(null_hypothesis)

945958.5 5.420302388722274e-31
Reject Null Hypothesis and accept Alternate Hypothesis
There is a significant relation between Attrition and YearsWithCurrManager